//General colors
$color-base-black: #000000;
$color-base-grey: #444444;
$colot-base-grey-light: #d9d9d9;
$color-base-green: #68b738;
$color-base-white: #ffffff;
$color-border-form: #e7e7e7;

//Colors for blocks
$color-footer: #f2f2f2;

//Colors for form
$color-warning: #ff8282;

//brack-points-screen
$breakpoint-smaller: 481px;
$breakpoint-mobile: 684px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1024px;

//opacity points
$opacity-60: 60%;
$opacity-30: 30%;
